# Virtual Environment
.venv/
venv/
ENV/
env/
Active*/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Environment Variables
.env
.flaskenv

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS-specific
Thumbs.db
EHthumbs.db
Desktop.ini
.DS_Store

# AgriSatAI specific ignores
# Ignore the generated large raw satellite GeoTIFF files
data/raw/satellite_imagery/*.tif
!data/raw/satellite_imagery/.gitkeep

# Ignore temp files from PySpark
.spark-local/
metastore_db/
derby.log
